@import url("https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap");
@import "tailwindcss";

.neuton-regular {
  font-family: "Neuton", serif;
  font-weight: 400;
  font-style: normal;
}

.neuton-bold {
  font-family: "Neuton", serif;
  font-weight: 700;
  font-style: normal;
}

body {
  @apply bg-[#ffffff];   
} 
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}